body{
background-color:Purple;
width:800px;
height:600px;
}

img{
width:100%;
height:100%;
}

li{
display:inline;
color:white;
padding:5px;
}

nav{
background:green;
width:600px;
height:20px;
margin:left;
}

#abouttext{
background:red;
width:600px;
height:100px;
position:relative;

}

#psthree{
background:yellow;
height:300px;
width:300px;
}

#ggxrd{
width:100;
height:100;
background:yellow;
position:relative;
top:15px;
}

#umvciii{
width:100;
height:100;
background:yellow;
position:relative;
top:15px;
}

#sfiv{
width:100;
height:100;
background:;
top:15px;
position:relative;
}

#smashiv{
width:100;
height:100;
background:white;
top:15px;
position:relative;
}

